[Desktop Entry]
Name=wikiLYNX
GenericName=Wikipedia Speedrun Game Browser
Comment=A simple Qt C++ app to play Wikipedia speedruns the right way
Keywords=game;
Exec=wikilynx
Icon=in.org.dawn.wikilynx
Terminal=false
Type=Application
Categories=Game;
